*{
  margin: 0;
  padding: 0;
}
.header_nav{
  padding: 0 20px;
}
.main_content{
 min-height: calc(100vh - 70px - 64px);
}
.movie{
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem; */
  display: flex;
  flex-direction: column;
  width: 250px;
}
.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.search_btn{
  position: absolute;
  top: 0;
  right: 0;
}
label:not(:last-child){
  margin-right: 1rem;
}
